/*-- scss:uses --*/

// @import url('https://fonts.cdnfonts.com/css/open-dyslexic');

/*-- scss:functions --*/

/*-- scss:defaults --*/

// fonts
// $font-family-sans-serif: 'Open-Dyslexic', sans-serif;

.reveal .footer {
  text-align: end;
  background-color: rgba(256,256,256,0.8);
}

.center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*-- scss:mixins --*/

/*-- scss:rules --*/

figcaption.table.quarto-float-caption.quarto-float-tbl {
  text-align: left;
}
